*{
    box-sizing: border-box;
    padding:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: grey;
    color:white;
    
    }
    .mark{
        display: flex;
        gap: 50px;
    }
    nav{
        display:flex;
        justify-content: space-between;
    }
    nav ul{
        display:flex;
        list-style: none;
        justify-content: end;
        gap:30px;
    }
    nav ul li img{
        width:30px;
        position:relative;
        top:-10px;
    }
    
    .nav-right{
       position:relative;
       left:-100px;
    }
    .nav-left{
        position:relative;
        left:20px;
    }
    .h, .o, .m{
        border-right:1px solid rgba(255, 255, 255, 0.301);
    
    }
    .nav-right ul li{
        padding-right:20px;
        cursor:pointer;
        transition:color, ease-in-out, 300ms;
    }
    .nav-right ul li:hover{
        color:black;
        text-decoration: underline;
    }
    .nav-left h1{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        gap:20px;
    }
    section img{
        width:200px;
        height:200px;
    }
    section{
        box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.432);
       flex-basis: 250px;
       padding-top:20px;
       height:390px;
        flex-grow: 1;
        align-content: center;
        justify-content: center;
        background: rgba(128, 128, 128, 0.849);
    }
    .but{
        position: relative;
        display: flex;
        left: 10px;
    }
    .but div{
        background:white;
        color:black;
        padding:10px;
        border:0;
        outline:0;
        border-radius:20px;
        cursor: pointer;
        transition: background-color, ease-in-out, 300ms;
    }
    .but div:hover{
        background-color: black;
        color:white;
    }
    
    .sa{
        margin-left:10px;
    }
    
    @media(max-width:700px){
       nav{
        flex-direction: column;
       }
       .nav-left{
        text-align: center;
       }
    .nav-right{
        text-align: center;
    }
    }
    @media(max-width:500px){
        .nav-right{
            position: relative;
            left:2px;
        }
        
    }@media(max-width:400px){

        .nav-right{
            left:20px;
            font-size:small;
            text-shadow: 2px 2px 2px black;
        }  
       .nav-right ul{
        justify-content: space-around;
       }
        section img{
            width:100px;
            height: 100px;
        }
       
        section{
            width:150px;
            height:340px;
        }
        main{
            display:grid;
            grid-template-columns: 1fr 1fr;
        }
        .but div{
            overflow-x:hidden;
            border-radius: 5px;
            padding:5px;
        }
    }